.App {
	display: flex;
	justify-content: center;
	text-align: center;

}

.App ul li {
	display: block;
	display: inline-block;
	padding: 15px;
	margin: 10px;
	background-color: black;
	border-radius: 2px;
	border: 2px solid black;
}

